.card{
  background-color: rgb(158, 51, 51);
  color: white;
  font-family: sans-serif;
  text-align: center;}

  .app{
    background-color: rgba(84, 82, 82, 0.909);
    color: white;
    font-family: sans-serif;
    text-align: center;
  }