
html,body{
    height: 100%;
    width: 100%;
     background-color:  #c15bba;
}
.parent{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
   
   

}
.card{
    height: 400px;
    width: 300px;
    background-color:  #d2d2d2;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color:  #d2d2d2;
}
.top img{
    height:30px;
    width:30px;
    border-radius: 50%;
    border: 1px solid #dadada;
    padding: 2px;
    margin: 0;
    background:  transparent;
    
}
.top button{
    display:flex;
    align-items: center;
    border: 1px solid #dadada;
    background-color: transparent;

}
.center{
    background-color:#ffffff;
}
.center h2{
    background-color:  #d2d2d2;
}
.center h3{
    font-size: 18px;
    font-weight: bold;
    background-color:  #d2d2d2;
}
.center h3 span{
    font-size: 10px;
    font-weight: 100;
    color: #dadada;
    background-color:  #d2d2d2;

}
.center-tag{
    display: flex;
    gap: 4px;
    background-color:  #d2d2d2;
}
.center-tag h4{
    font-size: 15px;
    font-weight: 100;
    padding: 4px 6px;
    background-color: #dadada;
    background-color:  #d2d2d2;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #a8a1a1;
    padding-top: 1opx;

    background-color:  #d2d2d2;
}
.info{
    font-size: 15px;
    display: flex;
    background-color:  #d2d2d2;
    
}
.info p{
    font-size: 10px;
    font-weight: 200;
    display: flex;
    align-items: center
    
}